@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap";
*{box-sizing:border-box;scroll-behavior:smooth}
body{font-family:'Space Grotesk',sans-serif}
.container{max-width:1230px;padding:0 15px;margin:0 auto}
a{text-decoration:none;color:inherit}
ul,li{padding:0;list-style:none}
section{margin:30px 0}
.slider{margin:0}
.header{background:#f0f0f7}
.header__inner{padding:15px 0}
.header__inner nav{display:flex;align-items:center;font-size:20px;line-height:25px}
.menu__list{display:flex;justify-content:space-between;margin-left:auto}
.menu__list li{margin:0 20px;padding:10px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.menu__list li:hover{color:#976810}
.logo{text-align:center;text-transform:uppercase;font-weight:700}
.sec-title{padding-top:15px;text-align:center;font-size:35px;line-height:45px;font-weight:700;margin:10px 0}
h5{margin:10px 0}
.main-screen{position:relative;height:100%;width:100%}
.main-btn{font-size:25px;font-weight:700;color:#fff;background:#ffa600;padding:20px 50px;position:absolute;top:50%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s}
.main-btn:hover{background:#fbff00;color:#000;box-shadow:inset 0 0 0 3px #ffd518}
.main-screen img{width:100%}
.slick-btn{position:absolute;top:45%;z-index:3;width:40px;height:40px;border:1px solid #fff;cursor:pointer;outline:none;background-color:#ffc222}
.slick-btn:before{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#fff}
.slick-next{right:20px}
.slick-next:before{content:">";font-size:25px;font-weight:700}
.slick-prev{left:20px}
.slick-prev:before{content:"<";font-size:25px;font-weight:700}
.skills__list{display:flex;justify-content:space-between;flex-wrap:wrap}
.skills__list li{margin-bottom:20px;font-size:20px;line-height:26px;margin-right:20px}
.software__items{display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap}
.software__item{padding:0 10px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.software__item img{width:100px;height:auto;margin-bottom:20px}
.software__item:hover{transform:scale(1.2)}
.projects__items h5{font-size:25px;line-height:30px;font-weight:700}
.purecss,.frameworks{display:flex;justify-content:space-around;flex-wrap:wrap;align-items:center}
.project__item img{max-width:350px;width:100%;height:auto;margin-bottom:10%}
.project__item{position:relative;margin:10px auto}
.project__text{position:absolute;left:40%;bottom:0;right:0;top:0;background:rgba(183,240,51,0.9);padding:5px;display:none;font-size:20px;line-height:26px}
.project__item:hover .project__text{display:block}
.footer{padding:25px 0}
.footer p{text-align:center;font-size:20px}
.totop{font-weight:700;text-align:center;padding-top:5px;position:fixed;bottom:30px;right:30px;width:30px;height:30px;background:#7fff00;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.totop:hover{background:rgba(202,173,42,0.9);color:#fff;transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2)}
.slider__inner{-webkit-animation-duration:.8s;animation-duration:.8s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-delay:.1s;-moz-animation-delay:.1s;animation-delay:.1s}
@-webkit-keyframes fadeinup {
from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeinup {
from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0)}
to{opacity:1;-webkit-transform:none;transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none}
}
.fadeinup{-webkit-animation-name:fadeinup;animation-name:fadeinup}
.animation__item h5{font-size:25px;line-height:35px}
.animation__item{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;margin:50px 0}
.text-block{width:40%;line-height:25px}
.anim-block{margin:0 auto}
.envelope{width:300px;height:150px;background:#b49976;position:relative;margin-top:130px}
.envelope__check{height:100%;width:100%;z-index:10;opacity:0;position:absolute;left:0;top:0;margin:0;cursor:pointer}
.envelope__check:checked~.envelope__flap{transition:transform .25s 0s,z-index 0 .25s;transform:rotateX(-180deg);z-index:0}
.envelope__check:checked~.envelope__letter{transform:translateY(-110%);transition:transform .25s 0.25s,z-index 0 .5s;z-index:5}
.envelope__check:checked~.envelope__letter .letter__content:nth-child(2),.envelope__check:checked~.envelope__letter .letter__content:nth-child(3){transition:transform .25s .5s;transform:rotateX(0deg)}
.envelope__flap{position:absolute;top:0;left:0;right:0;height:75%;transition:transform .25s 0.5s,z-index 0 .5s;transform-origin:top center;-webkit-backface-visibility:hidden;backface-visibility:hidden;background:repeating-linear-gradient(-45deg,#c1ab8e,#c1ab8e 10px,#e74c3c 10px,#e74c3c 20px,#c1ab8e 20px,#c1ab8e 30px,#1e90ff 30px,#1e90ff 40px) 0 0/100% 5px no-repeat,#c1ab8e;z-index:4;-webkit-clip-path:polygon(5% 40%,50% 100%,95% 40%,100% 0,0 0);clip-path:polygon(5% 40%,50% 100%,95% 40%,100% 0,0 0)}
.envelope__flap--inside{background:#c1ab8e;-webkit-backface-visibility:visible;backface-visibility:visible}
.envelope__back{height:100%;width:100%;height:100%;width:100%;position:absolute;top:0;left:0;z-index:3;background:repeating-linear-gradient(-45deg,#cebda6,#cebda6 10px,#e74c3c 10px,#e74c3c 20px,#cebda6 20px,#cebda6 30px,#1e90ff 30px,#1e90ff 40px) 0 100%/100% 5px no-repeat,repeating-linear-gradient(-45deg,#cebda6,#cebda6 10px,#e74c3c 10px,#e74c3c 20px,#cebda6 20px,#cebda6 30px,#1e90ff 30px,#1e90ff 40px) 0 100%/5px 100% no-repeat,repeating-linear-gradient(-45deg,#cebda6,#cebda6 10px,#e74c3c 10px,#e74c3c 20px,#cebda6 20px,#cebda6 30px,#1e90ff 30px,#1e90ff 40px) 100% 100%/5px 100% no-repeat,#cebda6;-webkit-clip-path:polygon(80% 40%,100% 0,100% 100%,0 100%,0 0,20% 40%);clip-path:polygon(80% 40%,100% 0,100% 100%,0 100%,0 0,20% 40%)}
.envelope__back:after{height:100%;width:100%;background:repeating-linear-gradient(-45deg,#c7b49a,#c7b49a 10px,#e74c3c 10px,#e74c3c 20px,#c7b49a 20px,#c7b49a 30px,#1e90ff 30px,#1e90ff 40px) 0 100%/100% 5px no-repeat,#c7b49a;content:'';position:absolute;top:0;left:0;-webkit-clip-path:polygon(70% 10%,100% 100%,0 100%,30% 10%);clip-path:polygon(70% 10%,100% 100%,0 100%,30% 10%)}
.envelope__letter{height:90%;width:90%;z-index:1;position:absolute;left:5%;top:5%;transition:transform .25s 0.25s,z-index 0 .25s;transform:translateY(0)}
.letter__content{height:100%;width:100%;background-color:#e7e7e3;top:0;left:0;position:absolute;padding:14px;text-align:justify;font-size:14px}
.letter__content:nth-child(2),.letter__content:nth-child(3){transition:transform .25s;top:100%;transform-origin:top center;transform:rotateX(180deg);-webkit-backface-visibility:visible;backface-visibility:visible;z-index:2;border-top:1px solid #eee}
.letter__content:nth-child(3){-webkit-backface-visibility:hidden;backface-visibility:hidden}
.sign-off{position:absolute;bottom:12px;right:12px;font-size:20px;font-family:cursive;transform:skewX(-20deg)}
.icecream>.flavor{position:relative;width:190px;height:260px;border-radius:80px 80px 10px 10px;overflow:hidden}
.icecream>.flavor:after{content:"";position:absolute;left:21px;bottom:20px;width:20px;height:170px;border-radius:50px;background:rgba(255,255,255,0.5)}
.icecream>.flavor>.flavours{position:relative;top:0;left:-20%;width:140%;height:120%;background-image:linear-gradient(0deg,#f63a99 25%,#30dcf6 25%,#30dcf6 25%,#30dcf6 50%,#f2d200 50%,#f2d200 50%,#f2d200 75%,#70ca5c 75%);background-position:0 0;background-repeat:repeat-y;-webkit-animation:flavours 100s linear infinite;animation:flavours 100s linear infinite;transform:rotate(155deg)}
.icecream>.stick{width:57px;height:86px;background:#E09C5F;border-radius:0 0 25px 25px;display:block;margin:0 auto}
.icecream>.stick:after{display:block;content:"";width:100%;height:24px;background:#8D613B}
@-webkit-keyframes flavours {
to{background-position:0 -1000vh}
}
@keyframes flavours {
to{background-position:0 -1000vh}
}
.loader{position:relative}
.loader-inner{height:60px;width:100px}
.loader-line-wrap{animation:spin 2000ms cubic-bezier(.175,.885,.32,1.275) infinite;box-sizing:border-box;height:50px;left:0;overflow:hidden;position:absolute;top:0;transform-origin:50% 100%;width:100px}
.loader-line{border:4px solid transparent;border-radius:100%;box-sizing:border-box;height:100px;left:0;margin:0 auto;position:absolute;right:0;top:0;width:100px}
.loader-line-wrap:nth-child(1){animation-delay:-50ms}
.loader-line-wrap:nth-child(2){animation-delay:-100ms}
.loader-line-wrap:nth-child(3){animation-delay:-150ms}
.loader-line-wrap:nth-child(4){animation-delay:-200ms}
.loader-line-wrap:nth-child(5){animation-delay:-250ms}
.loader-line-wrap:nth-child(1) .loader-line{border-color:hsl(0,80%,60%);height:90px;width:90px;top:7px}
.loader-line-wrap:nth-child(2) .loader-line{border-color:hsl(60,80%,60%);height:76px;width:76px;top:14px}
.loader-line-wrap:nth-child(3) .loader-line{border-color:hsl(120,80%,60%);height:62px;width:62px;top:21px}
.loader-line-wrap:nth-child(4) .loader-line{border-color:hsl(180,80%,60%);height:48px;width:48px;top:28px}
.loader-line-wrap:nth-child(5) .loader-line{border-color:hsl(240,80%,60%);height:34px;width:34px;top:35px}
@keyframes spin {
0%,15%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}
@media (max-width: 1025px) {
.slider .container{padding:0}
.project__text{display:block}
}
@media (max-width:767px) {
.header__inner{padding:10px 0}
body.lock{overflow:hidden}
.header__burger{display:block;width:30px;height:20px;position:relative;z-index:1000;top:25px;right:-90%}
.header__burger span{position:absolute;background-color:#000;right:0;width:100%;height:2px;top:9px;transition:all .3s}
.header__burger::after,.header__burger::before{content:'';position:absolute;width:100%;background-color:#000;height:2px;right:0;transition:all .3s}
.header__burger::before{top:0}
.header__burger::after{bottom:0}
.header__burger.active span{transform:scale(0)}
.header__burger.active::before{transform:rotate(45deg);top:9px}
.header__burger.active::after{transform:rotate(-45deg);bottom:9px}
.header__menu{display:block;text-align:center}
.menu__list{overflow:auto;left:0;flex-direction:column;align-items:center;justify-content:flex-start;position:fixed;width:100%;top:-100%;height:auto;background:#f0f0f7;transition:all .4s}
.menu__list:last-child{padding-bottom:50px}
.menu__list.active{height:100%;top:65px;z-index:10}
.menu__list li{padding:40px 0;font-size:25px}
.skills__list{flex-direction:column}
.main-btn{font-size:20px;padding:15px 30px}
.slick-next{right:0}
.slick-prev{left:0}
.animation__item{flex-direction:column;margin:20px 0}
.text-block{width:80%;order:-1}
.loader-inner{margin:30px 0}
}
@media (max-width:550px) {
.main-btn{font-size:20px;padding:15px 20px}
.slick-btn{display:none}
.software__item img{width:75px}
.project__text{font-size:17px}
}
